# # Official language image. Look for the different tagged releases at:
# # https://hub.docker.com/r/library/python/tags/
# # Une fois deployé, gitlab se place dans le projet : 
# /builds/desr-sires-pga/support_n1/Outils
# https://sonar.meteo.fr/tutorials?id=outils

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  ### BN 2025-07-18 invalidation configuration du proxy MF pour éviter pb ssl
  #http_proxy: "http://proxy.meteo.fr:11011"
  #https_proxy: "http://proxy.meteo.fr:11011"
  #no_proxy: "http://127.0.0.1,http://localhost"

  #$CI_COMMIT_REF_SLUG = master
  PACKAGE_NAME: ${CI_PROJECT_NAME}
  VERSION: "1.4.2"
  CI_DEBUG_TRACE: "false" # activation mode debug  => true
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task

default:
  image: "python:3.12-slim"
  cache:
    - key: cache-$CI_COMMIT_REF_SLUG
      paths:
        - .cache/pip
        - public
      policy: pull-push
  artifacts:
    paths:
      - public

workflow:
  name: $PIPELINE_NAME
  rules:
    - if: $CI_PROJECT_URL =~ "https://git.meteo.fr/enm_test/requete_fin_mois"
      when: never
    - if: $CI_PROJECT_URL =~ "https://gitlab.meteo.fr/desr-sires-pga/support_n1/outils.git"
      when: always

before_script:
  # Normalize package name once at the start of any job
  - export NORMALIZED_NAME=$(echo "${CI_PROJECT_NAME}" | tr '-' '_') || true
  # Use Météo-France's own PyPI-like registry, more info at
  # http://confluence.meteo.fr/display/MOT/Nexus+-+Guide+d%27utilisation#NexusGuided'utilisation-D%C3%A9p%C3%B4tpython
  - apt update || true
  # - apt-get install -y python3-ldap3 || true
  - apt-get install -y shellcheck git || true
  - apt-get install -y graphviz rhino lcov dia doxygen curl || true  
  - apt-get install -y build-essential zlib1g-dev libffi-dev || true 
  - apt-get install -y libbz2-dev libreadline-dev libsqlite3-dev  || true
  - apt-get install -y libncurses-dev tk-dev libssl-dev  || true
  - apt-get install -y python3.12 python3.12-venv liblzma-dev || true
  - cd "$CI_PROJECT_DIR"
  - python3 -m venv envdev || true
  - source envdev/bin/activate || true
  - git config --global http.sslVerify false
  - git config --global https.sslVerify false
  - git config --global https.proxy http://proxy.meteo.fr:11011
  - set GIT_SSL_NO_VERIFY
  - echo "proxy = http://proxy.meteo.fr:11011" > $HOME/.curlrc
  - echo "insecure" >> $HOME/.curlrc
  # - curl -kfsSL https://pyenv.run | bash || true
  - curl -k -s -S -L https://raw.githubusercontent.com/pyenv/pyenv-installer/master/bin/pyenv-installer | bash || true
  - export PYENV_ROOT="$HOME/.pyenv"
  - export PATH="$PYENV_ROOT/bin:$PATH"
  - eval "$(pyenv init - bash)" || true
  - pyenv install 3.10.19 || true
  - pyenv install 3.11.14 || true
  - pyenv install 3.12.12 || true
  - pyenv global 3.10 3.11 3.12
  - pip config set global.trusted-host nexus-sidev.meteo.fr || true
  - pip config set global.index http://nexus-sidev.meteo.fr/repository/pypi-group/pypi || true
  - pip config set global.index-url http://nexus-sidev.meteo.fr/repository/pypi-group/simple || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install pylint-common --use-pep517
  - pip install -r docs/requirements.txt --root-user-action=ignore || true
  - pip install --upgrade pip --break-system-packages --root-user-action=ignore || true
  #https://misc.flogisoft.com/bash/tip_colors_and_formatting
  - TXT_RED="\e[31m" && TXT_CLEAR="\e[0m"
  - TXT_YELLOW="\e[33m"

# composant sonarqube et analyse sécurité
# https://gitlab.meteo.fr/explore/catalog/ci-cd-catalog-mf/sca
#

# include:
#   - component: $CI_SERVER_FQDN/ci-cd-catalog-mf/sonar-scan/sonar-scan@1.0.2
#     inputs:
#       sonar-project-key : "requete_fin_mois"
#       sonar-project-version : ${VERSION}
#       sonar-token : ${SONAR_TOKEN}
#       sonar-host: ${SONAR_HOST_URL}
#       sonar-source: "src"
#       sonar-projectBaseDir: "."
#       allow_failure: true
#   - component: $CI_SERVER_FQDN/ci-cd-catalog-mf/sca/check-dependencies@1.0.3
#     inputs:
#       failOnSeverity : "MEDIUM"
#       allow_failure: true
#       source: "src"

stages:
  - lint
  - test
  # - quality
  - sca
  - build
  - deploy

# Retry a job automatically if it fails (2 times)
.retry:
  retry: 2

job:Lint:
  stage: lint
  #image: "python:3.12-slim"
  cache:
    - key: cache-$CI_COMMIT_REF_SLUG
     # override the policy
      policy: pull
  script:
    - echo -e "${TXT_RED}script lint${TXT_CLEAR}"
    # - pip install -r docs/requirements.txt --root-user-action=ignore || true
    - rm -rf public/* || true
    - devtools/lanceur_pylint.bash || true
    - devtools/lanceur_ruff.bash || true
    - devtools/lanceur_tox.bash || true
    - devtools/lanceur_shellcheck.bash || true
    - ls -ail rapports/*
    - mv rapports/*txt public/ || true
    - mv -f rapports/htmlcov* public/ || true
    - mv rapports/coverage* public/ || true
  artifacts:
    paths:
      - public

job:Tests:
  stage: test
  image: "python:$VERSION-slim"
  cache:
    - key: cache-$CI_COMMIT_REF_SLUG
     # override the policy
      policy: pull
  script:
    - echo -e "${TXT_RED}script test${TXT_CLEAR}"
    - echo -e "${TXT_YELLOW}Stage test en version = ${VERSION}${TXT_CLEAR}" || true
    # - pip install -r docs/requirements.txt --root-user-action=ignore || true
    - devtools/lanceur_pytest.bash "$VERSION" || true
    - ls -ail rapports/*
    - mv -f rapports/htmlcov public/ || true
    - mv rapports/coverage* public/ || true
    - mv rapports/*txt public/  || true    
  parallel:
    matrix:
      # https://docs.gitlab.com/ee/ci/yaml/#parallelmatrix
      - VERSION: ["3.10", "3.11", "3.12"]
  artifacts:
    paths:
      - public

# job:Sonar:
#   stage: quality
#   #image: python:3.12-slim
#   cache:
#     policy: pull
#     key: cache-$CI_COMMIT_REF_SLUG
#     paths:
#       - "${SONAR_USER_HOME}/cache"
#       - public/
#   script:
#     - echo -e "${TXT_RED}script sonar${TXT_CLEAR}"
#     # - pip install -r docs/requirements.txt --root-user-action=ignore || true
#     - devtools/lanceur_pysonar.bash || true
#     - mv -f rapports/*txt public/ || true
#   allow_failure: true
#   rules:
#     - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
#     - if: $CI_COMMIT_BRANCH == 'main'
#   artifacts:
#     paths:
#       - public

job:CheckDependencies:
  stage: sca
  cache:
    policy: pull
    key: cache-$CI_COMMIT_REF_SLUG
    paths:
      - public/
  script:
    - echo -e "${TXT_RED}script sca${TXT_CLEAR}"
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'main'
  artifacts:
    paths:
      - public

job:Packaging:
  stage: build
  #image: "python:3.12-slim"
  cache:
    policy: pull
    key: cache-$CI_COMMIT_REF_SLUG
    paths:
      - public/
  script:
    - echo -e "${TXT_RED}script build${TXT_CLEAR}"
    # - pip install -r docs/requirements.txt --root-user-action=ignore || true
    - devtools/lanceur_build.bash || true
    - mv rapports/*txt public/ || true
    - ls -ail dist/*
  artifacts:
    paths:
      - public
      - dist
  only:
    - main

job:Deploy:
  stage: deploy
  #image: python:3.12-slim
  cache:
    - key: cache-$CI_COMMIT_REF_SLUG
     # override the policy
      policy: pull
  script:
    - echo -e "${TXT_RED}script deploy${TXT_CLEAR}"
    - apt update || true
    - apt upgrade -y || true
    - apt install -y make doxygen graphviz || true
    - apt install -y python3-sphinx || true
      #- pip install -r devtools/requirements.txt
    - devtools/lanceur_mefversions.bash $CI_COMMIT_SHORT_SHA $CI_PIPELINE_ID
    - devtools/lanceur_doxygen.bash || true
    - devtools/lanceur_sphinx.bash || true
  after_script:
    - echo -e "${TXT_RED}after_script deploy${TXT_CLEAR}"
    - cd "$CI_PROJECT_DIR"
    - ls -ail rapports/*
    - mv rapports/doxygen public/ || true
    - mv rapports/*txt public/  || true
    - mv build/sphinx-* public/ || true
      ### index de gitlab-pages :
    - cp -f docs/index.html public/ || true
    - cp -f docs/Outils.png public/ || true
    - ls -ail public/*
  artifacts:
    paths: 
      - public
  pages: true # specifies that this is a Pages job
  only:
    - main